ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }

.room {
    width: 1020px;
    margin: 0 auto;
    font-family: Helvetica, Arial;
}
.card {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    font-size: 13px;
    padding: 0;
    position: relative;
    width: 300px;
    height: 550px;
    float: left;
}
.card__title {
    background-color: #f7f7f7;
    border-bottom: 1px solid #e5e5e5;
    height: 80px;
    font-size: 18px;
    line-height: 80px;
    text-align: center;
}
.card__image {
    height: 200px;
    overflow: hidden;
}
.card__character {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #e5e5e5;
    padding: 0 15px;
}
.card__character__name {
    float: left;
}
.card__character__value {
    float: right;
}
.card__character_active {
    cursor: pointer;
}
.card__character_active:hover {
    background-color: aqua;
}
.compare-card {
    width: 300px;
    height: 550px;
    line-height: 550px;
    font-size: 50px;
    border: 3px solid orange;
    text-align: center;
    float: left;
}