@{
    ViewBag.Title = "Home Page";
}
<input type="hidden" id="roomName" name="roomName" value="@ViewData["RoomName"]"/>
<div id="content"></div>

@section styles {
    <link rel="stylesheet" href="@Url.Content("~/Styles/index.css")"/>
}

@section scripts {
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="https://fb.me/react-15.0.1.js"></script>
    <script src="https://fb.me/react-dom-15.0.1.js"></script>
    <script src="@Url.Content("~/Scripts/index.jsx")"></script>
}